# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# MONGODB_URI: Required for MongoDB connection
MONGODB_URI="mongodb+srv://user:pass@cluster.mongodb.net/dbname?retryWrites=true&w=majority"

# JWT_SECRET: Secret for signing JWTs
JWT_SECRET="learning_planner_secret_123"
